<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestFMDBDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0486428D1C4CB59C008B1710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048642A61C4CB59C008B1710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048642B11C4CB59C008B1710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
